@use 'variables';
@use 'fonts';

.Game {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    @media screen and (max-width: 450px) {
        padding: 0 auto;
        overflow: hidden;
    }
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
        overflow: 0;
    }
    a {
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
    img {
        width: 60%;
        height: auto;
        filter: brightness(0) invert(1);
    }
}
.restart, .newGame {
    @include fonts.fontFamily();
    border-radius: 25px;
}
.restart {
    color: variables.$white;
    background-color: variables.$orange;
    transition: color 0.5s, background-color 0.5s;
    border: none;
    &:hover {
        background-color: variables.$lightOrange;
    }
    
}
.newGame {
    color: variables.$paleBlue2;
    background-color: variables.$lightBlue;
    border: none;
    margin-left: 5px;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
    &:hover {
        color: variables.$white;
        background-color: variables.$paleBlue1;
    }
}
.topArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 821px) and (max-device-width: 900px) {
        margin-bottom: 12%;
    }
    @media screen and (max-width: 450px) {
        margin-bottom: 20%;
    }
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
        margin-bottom: 0;
        padding-top: 1%;
    }
    h2 {
        font-size: 42px;
        @media screen and (max-width: 450px) {
            font-size: 28px;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            font-size: 28px;
            margin: 0 auto;
        }
    }
    .restart, .newGame {
        height: 30px;
        width: 8vw;
        font-size: 14px;
        min-width: 90px;
        @media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
            min-width: 150px;
        }
        @media screen and (max-width: 821px) and (max-device-width: 900px) {
            height: 60px;
            font-size: 24px;
            width: 18vw;
        }
        @media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
            font-size: 20px;
            width: 12vw;
            height: 40px;
        }
        @media screen and (max-width: 450px) {
            font-size: 14px;
            height: 40px;
        }
    }
}
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
        flex-direction: row;
        margin-left: 10%;
    }
}
.board {
    margin: 0 auto 6%;
    width: 30vw;
    min-width: 350px;
    height: auto;
    .unflippedPiece, .flippedPiece, .permaFlipped {
        cursor: pointer;
    }
    @media screen and (max-width: 821px) and (max-device-width: 900px) {
        width: 85vw;
        margin-bottom: 14%;
    }
    @media screen and (orientation: landscape) and (min-device-height: 800px) and (min-device-width: 1000px) {
        width: 50vw;
        margin-bottom: 9%;
    }
    @media screen and (max-width: 450px) {
        margin-bottom: 20%;
        width: 80vw;
    }
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
        width: 20vw;
        min-width: 250px;
    }
}
.FxFboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 4%;
    column-gap: 0;
    .unflippedPiece, .flippedPiece, .permaFlipped {
        width: 6.2vw;
        min-width: 75px;
        height: 6.2vw;
        min-height: 75px;
        border-radius: 100px;
        place-self: center;
        h1 {
            @media screen and (max-width: 821px) and (max-device-width: 900px) {
                font-size: 92px;
            }
            @media screen and (max-width: 450px) {
                font-size: 48px;
            }
            @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
                font-size: 36px;
            }
        }
        @media screen and (max-width: 821px) and (max-device-width: 900px) {
            width: 18vw;
            height: 18vw;
        }
        @media screen and (orientation: landscape) and (min-device-height: 800px) and (min-device-width: 1000px) {
            min-width: 120px;
            min-height: 120px;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            min-width: 50px;
            min-height: 50px;
        }
    }
}
.SxSboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3%;
    column-gap: 3%;
    margin: 0 auto 2%;
    @media screen and (max-width: 450px) {
        margin: 0 5% 10% 0%;
        column-gap: 0;
    }
    .unflippedPiece, .flippedPiece, .permaFlipped {
        width: 4.2vw;
        min-width: 55px;
        height: 4.2vw;
        min-height: 55px;
        border-radius: 100px;
        place-self: center;
        h1 {
            @media screen and (max-width: 821px) and (max-device-width: 900px) {
                font-size: 72px;
            }
            @media screen and (max-width: 450px) {
                font-size: 36px;
            }
            @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
                font-size: 26px;
            }
            @media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
                font-size: 52px;
            }
        }
        @media screen and (max-width: 821px) and (max-device-width: 900px) {
            width: 12vw;
            height: 12vw;
        }
        @media screen and (orientation: landscape) and (min-device-height: 800px) and (min-device-width: 1000px) {
            min-width: 80px;
            min-height: 80px;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            min-width: 35px;
            min-height: 35px;
            width: 3vw;
            height: 3vw;
        }
        @media screen and (max-width: 450px) {
            width: 5vw;
            height: 5vw;
            min-width: 45px;
            min-height: 45px;
        }
    }
}

.flippedPiece {
    background-color: variables.$orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.unflippedPiece {
    background-color: variables.$paleBlue3;
    transition: background-color 0.5s;
    &:hover {
        background-color: variables.$paleBlue1;
    }
}
.permaFlipped {
    background-color: variables.$grayBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.SoloData {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0 auto;
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
    }
    .tracker {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        background-color: variables.$grayBlue;
        width: 17vw;
        height: 8vh;
        max-height: 50px;
        border-radius: 5px;
        @media screen and (max-width: 821px) and (max-device-width: 900px) {
            width: 35vw;
            margin-top: 10%;
            max-height: 90px;
        }
        @media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
            max-height: 120px;
            width: 28vw;
        }
        @media screen and (max-width: 450px) {
            width: 40vw;
            max-height: 100px;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            height: 20%;   
        }
        p {
            color: variables.$paleBlue1;
            @media screen and (max-width: 821px) and (max-device-width: 900px) {
                font-size: 24px;
            }
            @media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
                font-size: 26px;
            }
            @media screen and (max-width: 450px) {
                font-size: 16px;
            }
        }
        h3 {
            color: variables.$paleBlue2;
            @media screen and (max-width: 821px) and (max-device-width: 900px) {
                font-size: 40px;
            }
            @media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
                font-size: 36px;
            }
            @media screen and (max-width: 450px) {
                font-size: 20px;
            }
        }
    }
}
.modal {
    background-color: variables.$white;
    outline: none;
    width: 40vw;
    margin: 10% auto 0;
    @media screen and (max-width: 821px) {
        width: 80vw;
        margin-top: 25%;
    }
    @media screen and (max-width: 490px) {
        width: 90vw;
        margin-top: 25%;
    }
}
.WinScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 5% 4%;
    box-sizing: border-box;
    text-align: center;
    p {
        color: variables.$paleBlue1;
        font-size: 16px;
        @media screen and (max-width: 821px) {
            font-size: 18px;
        }
    }
    h1 {
        color: variables.$paleBlue3;
        margin-bottom: 0;
        font-size: 38px;
        @media screen and (max-width: 821px) {
            font-size: 45px;
        }
        @media screen and (max-width: 490px) {
            font-size: 35px;
        }
    }
    h2 {
        color: variables.$paleBlue2;
        @media screen and (max-width: 490px) {
            font-size: 24px;
        }
    }
    .winTitle {
        margin-bottom: 2%;
    }
    .stats {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: variables.$lightBlue;
        margin-bottom: 2%;
        padding: 0 5%;
        box-sizing: border-box;
        border-radius: 5px;
        @media screen and (max-width: 821px) {
            height: 7vh;
        }
    }
    .winButtons {
        width: 100%;
        margin: 0;
        margin-top: 3%;
        .restart, .newGame {
            width: 51%;
            height: 40px;
            font-size: 16px;
            white-space: nowrap;
            @media screen and (max-width: 821px) {
                font-size: 18px;
                height: 50px;
            }
            @media screen and (max-width: 490px) {
                font-size: 16px;
            }
            @media screen and (max-width: 450px) {
                width: 30%;
            }
            }
        }
        .newGame {
            background-color: variables.$lightBlue;
            width: 47% !important;
        }
}
.MultiplayerData {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    align-items: center;
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
        flex-direction: column;  
        justify-content: space-evenly;
        margin: 8% auto 0;
    }
    @media screen and (max-width: 450px) {
        margin: 16% 4% 0 0;
    }
    #currentPlayer {
        background-color: variables.$orange;
        p, h2 {
            color: white;
        }
    }
    .playerScore {
        width: 20%;
        max-height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: variables.$lightBlue;
        border-radius: 5px;
        padding: 0 2%;
        box-sizing: border-box;
        @media screen and (max-width: 821px) and (max-device-width: 900px) {
            width: 30%;
            margin-top: 5%;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            margin-bottom: 5%;
            width: 40%;
        }
        @media screen and (max-width: 490px) {
            width: 22%;
        }
        @media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
            width: 30%;
        }
        p {
            color: variables.$paleBlue1;
            font-size: 14px;
            @media screen and (max-width: 490px) {
                font-size: 10px;
            }
        }
        h2 {
            color: variables.$paleBlue3;
            font-size: 26px;
            @media screen and (max-width: 490px) {
                font-size: 14px;
            }
        }
    }
    .currentTurn {
        position: absolute;
        color: variables.$paleBlue3 !important;
        margin-top: 8%;
        margin-left: 1.4%;
        font-size: 12px !important;
        letter-spacing: 5px;
        @media screen and (max-width: 821px) and (max-device-width: 900px) {
            font-size: 10px !important;
            margin: 10% 0 0 0;
        }
        @media screen and (max-width: 490px) {
            font-size: 5px !important;
            letter-spacing: 2px;
            margin: 14% 0 0 0;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
            margin: 8% 0 0 2%;
            font-size: 8px !important;
        }
        @media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
            font-size: 8px !important;
        }
    }
}
.arrow {
    position: absolute;
    background-color: variables.$orange;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    margin-bottom: 4%;
    margin-left: 6%;
    @media screen and (max-width: 821px) and (max-device-width: 900px) {
        width: 40px;
        height: 40px;
        margin-bottom: 4%;
        margin-left: 6.5%;
    }
    @media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
        display: none;   
    }
    @media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
        width: 25px;
        height: 25px;
        margin-bottom: 6%;
        margin-left: 5%;
    }
    @media screen and (max-width: 490px) {
        width: 15px;
        height: 15px;
        margin-bottom: 10%;
    }
}
.winner {
    background-color: variables.$paleBlue3 !important;
    p, h2 {
        color: white !important;
    }
}
