@use 'variables';
@use 'fonts';

.Start {
    background-color: variables.$paleBlue3;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        color: white;
        margin: 5% 0 0 0;
        @media screen and (orientation: landscape) and (max-device-width: 900px) {
            margin-bottom: 2%;
        }
    }
    .menu {
        background-color: variables.$white;
        width: 40%;
        border-radius: 15px;
        padding: 2% 4%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 0;
        @media screen and (max-width: 821px) {
            width: 70%;
        }
        @media screen and (max-width: 821px) and (min-height: 1000px) {
            width: 90%;
            height: 50vh;
            padding-bottom: 7%;
        }
        @media screen and (orientation: landscape) and (max-device-width: 900px) {
            width: 50%;
            height: 70vh;
            margin: 0;
        }
        @media screen and (max-width: 450px) {
            width: 85%;
        }
        p {
            color: variables.$paleBlue1;
            @media screen and (orientation: landscape) and (max-device-width: 900px) {
                font-size: 14px;
                margin: 1% 0 2% 0;
            }
        }
        .radios {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                    opacity: 0;
                    position: fixed;
                    width: 0;
                    height: 0;
                    &:checked + label {
                        background-color: variables.$paleBlue2;
                    }
            }
            label {
                @include fonts.fontFamily();
                font-size: 20px;
                display: inline-block;
                background-color: variables.$grayBlue;
                border-radius: 20px;
                color: white;
                text-align: center;
                transition: background-color 0.5s;
                &:hover {
                    background-color: variables.$paleBlue1;
                }
                @media screen and (max-width: 821px) and (max-device-width: 900px) {
                    font-size: 26px;
                }
                @media screen and (max-width: 450px) {
                    font-size: 20px;
                }
                @media screen and (orientation: landscape) and (max-device-width: 900px) {
                    font-size: 16px;
                }
            }
        }
        .theme, .gSize {
            label {
                width: 45%;
                padding: 1.4% 0;
                @media screen and (max-width: 821px) and (max-device-width: 900px) {
                    padding: 2% 0;
                }
                @media screen and (orientation: landscape) and (max-device-width: 900px) {
                    padding: 1% 0;
                }
            }
        }
        .players {
            label {
                width: 23%;
                padding: 1.4% 0;
                @media screen and (max-width: 821px) and (max-device-width: 900px) {
                    padding: 2% 0;
                }
                @media screen and (orientation: landscape) and (max-device-width: 900px) {
                    padding: 1% 0;
                }
            }
        }
        .startButton {
            @include fonts.fontFamily();
            font-size: 32px;
            color: white;
            border: none;
            background-color: variables.$orange;
            width: 100%;
            padding: 1% 0;
            border-radius: 30px;
            margin-top: 5%;
            border: none;
            transition: background-color 0.5s;
            &:hover {
                background-color: variables.$lightOrange;
            }
            @media screen and (max-width: 821px) and (max-device-width: 900px) {
                font-size: 42px;
            }
            @media screen and (orientation: landscape) and (max-device-width: 900px) {
                font-size: 32px;
            }
            @media screen and (max-width: 450px) {
                font-size: 32px;
            }
        }
    }
}