@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
h1 {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 32px;
}

h3 {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 20px;
}

p {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 18px;
}

.FxFGNumber {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 56px;
}

.SxSGNumber {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 44px;
}

.Start {
  background-color: #152938;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Start h2 {
  color: white;
  margin: 5% 0 0 0;
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start h2 {
    margin-bottom: 2%;
  }
}
.Start .menu {
  background-color: #FCFCFC;
  width: 40%;
  border-radius: 15px;
  padding: 2% 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 0;
}
@media screen and (max-width: 821px) {
  .Start .menu {
    width: 70%;
  }
}
@media screen and (max-width: 821px) and (min-height: 1000px) {
  .Start .menu {
    width: 90%;
    height: 50vh;
    padding-bottom: 7%;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start .menu {
    width: 50%;
    height: 70vh;
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .Start .menu {
    width: 85%;
  }
}
.Start .menu p {
  color: #7191A5;
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start .menu p {
    font-size: 14px;
    margin: 1% 0 2% 0;
  }
}
.Start .menu .radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Start .menu .radios input {
  opacity: 0;
  position: fixed;
  width: 0;
  height: 0;
}
.Start .menu .radios input:checked + label {
  background-color: #304859;
}
.Start .menu .radios label {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 20px;
  display: inline-block;
  background-color: #BCCED9;
  border-radius: 20px;
  color: white;
  text-align: center;
  transition: background-color 0.5s;
}
.Start .menu .radios label:hover {
  background-color: #7191A5;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .Start .menu .radios label {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .Start .menu .radios label {
    font-size: 20px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start .menu .radios label {
    font-size: 16px;
  }
}
.Start .menu .theme label, .Start .menu .gSize label {
  width: 45%;
  padding: 1.4% 0;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .Start .menu .theme label, .Start .menu .gSize label {
    padding: 2% 0;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start .menu .theme label, .Start .menu .gSize label {
    padding: 1% 0;
  }
}
.Start .menu .players label {
  width: 23%;
  padding: 1.4% 0;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .Start .menu .players label {
    padding: 2% 0;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start .menu .players label {
    padding: 1% 0;
  }
}
.Start .menu .startButton {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-size: 32px;
  color: white;
  border: none;
  background-color: #FDA214;
  width: 100%;
  padding: 1% 0;
  border-radius: 30px;
  margin-top: 5%;
  border: none;
  transition: background-color 0.5s;
}
.Start .menu .startButton:hover {
  background-color: #FFB84A;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .Start .menu .startButton {
    font-size: 42px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .Start .menu .startButton {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  .Start .menu .startButton {
    font-size: 32px;
  }
}

.Game {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 490px) {
  .Game {
    padding: 0 auto;
    overflow: hidden;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .Game {
    overflow: 0;
  }
}
.Game a {
  text-decoration: none;
}
.Game a:visited {
  color: inherit;
}
.Game img {
  width: 60%;
  height: auto;
  filter: brightness(0) invert(1);
}

.restart, .newGame {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  border-radius: 25px;
}

.restart {
  color: #FCFCFC;
  background-color: #FDA214;
  transition: color 0.5s, background-color 0.5s;
  border: none;
}
.restart:hover {
  background-color: #FFB84A;
}

.newGame {
  color: #304859;
  background-color: #DFE7EC;
  border: none;
  margin-left: 5px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}
.newGame:hover {
  color: #FCFCFC;
  background-color: #7191A5;
}

.topArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .topArea {
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 450px) {
  .topArea {
    margin-bottom: 20%;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .topArea {
    margin-bottom: 0;
    padding-top: 1%;
  }
}
.topArea h2 {
  font-size: 42px;
}
@media screen and (max-width: 450px) {
  .topArea h2 {
    font-size: 28px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .topArea h2 {
    font-size: 28px;
    margin: 0 auto;
  }
}
.topArea .restart, .topArea .newGame {
  height: 30px;
  width: 8vw;
  font-size: 14px;
  min-width: 90px;
}
@media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
  .topArea .restart, .topArea .newGame {
    min-width: 150px;
  }
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .topArea .restart, .topArea .newGame {
    height: 60px;
    font-size: 24px;
    width: 18vw;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
  .topArea .restart, .topArea .newGame {
    font-size: 20px;
    width: 12vw;
    height: 40px;
  }
}
@media screen and (max-width: 450px) {
  .topArea .restart, .topArea .newGame {
    font-size: 14px;
    height: 40px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .topArea .restart, .topArea .newGame {
    font-size: 18px;
    height: 30px;
    width: 18vw;
  }
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .gameContainer {
    flex-direction: row;
    margin-left: 10%;
    gap: 0;
  }
}

.board {
  margin: 0 auto 6%;
  width: 30vw;
  min-width: 350px;
  height: auto;
}
.board .unflippedPiece, .board .flippedPiece, .board .permaFlipped {
  cursor: pointer;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .board {
    width: 85vw;
    margin-bottom: 14%;
  }
}
@media screen and (orientation: landscape) and (min-device-height: 800px) and (min-device-width: 1000px) {
  .board {
    width: 50vw;
    margin-bottom: 9%;
  }
}
@media screen and (max-width: 450px) {
  .board {
    margin-bottom: 20%;
    width: 80vw;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .board {
    width: 20vw;
    min-width: 250px;
  }
}

.FxFboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 4%;
  column-gap: 0;
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .FxFboard {
    margin-top: 5%;
    column-gap: 3%;
  }
}
.FxFboard .unflippedPiece, .FxFboard .flippedPiece, .FxFboard .permaFlipped {
  width: 6.2vw;
  min-width: 75px;
  height: 6.2vw;
  min-height: 75px;
  border-radius: 100px;
  place-self: center;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .FxFboard .unflippedPiece h1, .FxFboard .flippedPiece h1, .FxFboard .permaFlipped h1 {
    font-size: 92px;
  }
}
@media screen and (max-width: 450px) {
  .FxFboard .unflippedPiece h1, .FxFboard .flippedPiece h1, .FxFboard .permaFlipped h1 {
    font-size: 48px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .FxFboard .unflippedPiece h1, .FxFboard .flippedPiece h1, .FxFboard .permaFlipped h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .FxFboard .unflippedPiece, .FxFboard .flippedPiece, .FxFboard .permaFlipped {
    width: 18vw;
    height: 18vw;
  }
}
@media screen and (orientation: landscape) and (min-device-height: 800px) and (min-device-width: 1000px) {
  .FxFboard .unflippedPiece, .FxFboard .flippedPiece, .FxFboard .permaFlipped {
    min-width: 120px;
    min-height: 120px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .FxFboard .unflippedPiece, .FxFboard .flippedPiece, .FxFboard .permaFlipped {
    min-width: 55px;
    min-height: 55px;
    width: 7vw;
    height: 7vw;
  }
}

.SxSboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3%;
  column-gap: 3%;
  margin: 0 auto 2%;
}
@media screen and (max-width: 450px) {
  .SxSboard {
    margin: 0 5% 10% 0%;
    column-gap: 0;
  }
}
.SxSboard .unflippedPiece, .SxSboard .flippedPiece, .SxSboard .permaFlipped {
  width: 4.2vw;
  min-width: 55px;
  height: 4.2vw;
  min-height: 55px;
  border-radius: 100px;
  place-self: center;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .SxSboard .unflippedPiece h1, .SxSboard .flippedPiece h1, .SxSboard .permaFlipped h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 450px) {
  .SxSboard .unflippedPiece h1, .SxSboard .flippedPiece h1, .SxSboard .permaFlipped h1 {
    font-size: 36px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .SxSboard .unflippedPiece h1, .SxSboard .flippedPiece h1, .SxSboard .permaFlipped h1 {
    font-size: 26px;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
  .SxSboard .unflippedPiece h1, .SxSboard .flippedPiece h1, .SxSboard .permaFlipped h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .SxSboard .unflippedPiece, .SxSboard .flippedPiece, .SxSboard .permaFlipped {
    width: 12vw;
    height: 12vw;
  }
}
@media screen and (orientation: landscape) and (min-device-height: 800px) and (min-device-width: 1000px) {
  .SxSboard .unflippedPiece, .SxSboard .flippedPiece, .SxSboard .permaFlipped {
    min-width: 80px;
    min-height: 80px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .SxSboard .unflippedPiece, .SxSboard .flippedPiece, .SxSboard .permaFlipped {
    min-width: 35px;
    min-height: 35px;
    width: 3vw;
    height: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .SxSboard .unflippedPiece, .SxSboard .flippedPiece, .SxSboard .permaFlipped {
    width: 5vw;
    height: 5vw;
    min-width: 45px;
    min-height: 45px;
  }
}

.flippedPiece {
  background-color: #FDA214;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.unflippedPiece {
  background-color: #152938;
  transition: background-color 0.5s;
}
.unflippedPiece:hover {
  background-color: #7191A5;
}

.permaFlipped {
  background-color: #BCCED9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.SoloData {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 0 auto;
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .SoloData {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}
.SoloData .tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #BCCED9;
  width: 17vw;
  height: 8vh;
  max-height: 50px;
  border-radius: 5px;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .SoloData .tracker {
    width: 35vw;
    margin-top: 10%;
    max-height: 90px;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
  .SoloData .tracker {
    max-height: 120px;
    width: 28vw;
  }
}
@media screen and (max-width: 450px) {
  .SoloData .tracker {
    width: 40vw;
    max-height: 100px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .SoloData .tracker {
    height: 15%;
    width: 20vw;
  }
}
.SoloData .tracker p {
  color: #7191A5;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .SoloData .tracker p {
    font-size: 24px;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
  .SoloData .tracker p {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .SoloData .tracker p {
    font-size: 16px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .SoloData .tracker p {
    font-size: 16px;
  }
}
.SoloData .tracker h3 {
  color: #304859;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .SoloData .tracker h3 {
    font-size: 40px;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 1000px) and (min-device-height: 800px) {
  .SoloData .tracker h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 450px) {
  .SoloData .tracker h3 {
    font-size: 20px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .SoloData .tracker h3 {
    font-size: 20px;
  }
}

.modal {
  background-color: #FCFCFC;
  outline: none;
  width: 40vw;
  margin: 10% auto 0;
  box-sizing: border-box;
}
@media screen and (max-width: 821px) {
  .modal {
    width: 80vw;
    margin-top: 25%;
  }
}
@media screen and (max-width: 490px) {
  .modal {
    width: 80vw;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .modal {
    margin-top: 5%;
  }
}

.WinScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 5% 4%;
  box-sizing: border-box;
  text-align: center;
}
.WinScreen p {
  color: #7191A5;
  font-size: 16px;
}
@media screen and (max-width: 821px) {
  .WinScreen p {
    font-size: 18px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .WinScreen p {
    font-size: 14px;
  }
}
.WinScreen h1 {
  color: #152938;
  margin-bottom: 0;
  font-size: 38px;
}
@media screen and (max-width: 821px) {
  .WinScreen h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 490px) {
  .WinScreen h1 {
    font-size: 35px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .WinScreen h1 {
    font-size: 28px;
  }
}
.WinScreen h2 {
  color: #304859;
}
@media screen and (max-width: 490px) {
  .WinScreen h2 {
    font-size: 24px;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .WinScreen h2 {
    font-size: 18px;
  }
}
.WinScreen .winTitle {
  margin-bottom: 2%;
}
.WinScreen .stats {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DFE7EC;
  margin-bottom: 2%;
  padding: 0 5%;
  box-sizing: border-box;
  border-radius: 5px;
}
@media screen and (max-width: 821px) {
  .WinScreen .stats {
    height: 7vh;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .WinScreen .stats {
    height: 9vh;
  }
}
.WinScreen .winButtons {
  width: 100%;
  margin: 0;
  margin-top: 3%;
}
.WinScreen .winButtons .restart, .WinScreen .winButtons .newGame {
  width: 51%;
  height: 40px;
  font-size: 16px;
  white-space: nowrap;
}
@media screen and (max-width: 821px) {
  .WinScreen .winButtons .restart, .WinScreen .winButtons .newGame {
    font-size: 18px;
    height: 50px;
  }
}
@media screen and (max-width: 490px) {
  .WinScreen .winButtons .restart, .WinScreen .winButtons .newGame {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .WinScreen .winButtons .restart, .WinScreen .winButtons .newGame {
    width: 30%;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .WinScreen .winButtons .restart, .WinScreen .winButtons .newGame {
    height: 40px;
  }
}
.WinScreen .newGame {
  background-color: #DFE7EC;
  width: 47% !important;
}

.MultiplayerData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  align-items: center;
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .MultiplayerData {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8% auto 0;
  }
}
@media screen and (max-width: 450px) {
  .MultiplayerData {
    margin: 16% 4% 0 0;
  }
}
.MultiplayerData #currentPlayer {
  background-color: #FDA214;
}
.MultiplayerData #currentPlayer p, .MultiplayerData #currentPlayer h2 {
  color: white;
}
.MultiplayerData .playerScore {
  width: 20%;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DFE7EC;
  border-radius: 5px;
  padding: 0 2%;
  box-sizing: border-box;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .MultiplayerData .playerScore {
    width: 30%;
    margin-top: 5%;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .MultiplayerData .playerScore {
    margin-bottom: 5%;
    width: 40%;
  }
}
@media screen and (max-width: 490px) {
  .MultiplayerData .playerScore {
    width: 22%;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
  .MultiplayerData .playerScore {
    width: 30%;
  }
}
.MultiplayerData .playerScore p {
  color: #7191A5;
  font-size: 14px;
}
@media screen and (max-width: 490px) {
  .MultiplayerData .playerScore p {
    font-size: 10px;
  }
}
.MultiplayerData .playerScore h2 {
  color: #152938;
  font-size: 26px;
}
@media screen and (max-width: 490px) {
  .MultiplayerData .playerScore h2 {
    font-size: 14px;
  }
}
.MultiplayerData .currentTurn {
  position: absolute;
  color: #152938 !important;
  margin-top: 8%;
  margin-left: 1.4%;
  font-size: 12px !important;
  letter-spacing: 5px;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .MultiplayerData .currentTurn {
    font-size: 10px !important;
    margin: 10% 0 0 0;
  }
}
@media screen and (max-width: 490px) {
  .MultiplayerData .currentTurn {
    font-size: 5px !important;
    letter-spacing: 2px;
    margin: 14% 0 0 0;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .MultiplayerData .currentTurn {
    margin: 8% 0 0 2%;
    font-size: 8px !important;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
  .MultiplayerData .currentTurn {
    font-size: 8px !important;
  }
}

.arrow {
  position: absolute;
  background-color: #FDA214;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin-bottom: 4%;
  margin-left: 6%;
}
@media screen and (max-width: 821px) and (max-device-width: 900px) {
  .arrow {
    width: 40px;
    height: 40px;
    margin-bottom: 4%;
    margin-left: 6.5%;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 420px) {
  .arrow {
    display: none;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 700px) and (min-device-height: 1100px) {
  .arrow {
    width: 25px;
    height: 25px;
    margin-bottom: 6%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 490px) {
  .arrow {
    width: 15px;
    height: 15px;
    margin-bottom: 10%;
  }
}

.winner {
  background-color: #152938 !important;
}
.winner p, .winner h2 {
  color: white !important;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
